<section class="wrapper benefits">
	<div class="container benefits-container">
		<div class="title title-right title-black benefits-title">
			<div class="title-number">07</div>
			<div class="title-text">Наши<br>преимущества</div>
		</div>
		<div class="benefits-box">
			<div class="benefits-block">
				<div class="benefits-img"><img src="img/imgs/1_benefits.png" alt=""></div>
				<div class="benefits-text">54 ДЕВУШКИ СТАЛИ ХОЗЯЙКАМИ СВОЕГО УСПЕШНОГО САЛОНА</div>
			</div>
			<div class="benefits-block">
				<div class="benefits-img"><img src="img/imgs/2_benefits.png" alt=""></div>
				<div class="benefits-text">ОБУЧЕНО БОЛЕЕ 3 000 СПЕЦИАЛИСТОВ BEAUTY ИНДУСТРИИ</div>
			</div>
			<div class="benefits-block">
				<div class="benefits-img"><img src="img/imgs/3_benefits.png" alt=""></div>
				<div class="benefits-text">НАША ЦЕЛЬ НАУЧИТЬ ТЕБЯ УПРАВЛЯТЬ СВОИМ БИЗНЕСОМ БЕЗ ПРОБЛЕМ</div>
			</div>
			<div class="benefits-block">
				<div class="benefits-img"><img src="img/imgs/4_benefits.png" alt=""></div>
				<div class="benefits-text">СОЗДАНО БОЛЕЕ 106 УНИКАЛЬНЫХ ДИЗАЙНОВ САЛОНОВ КРАСОТЫ</div>
			</div>
			<div class="benefits-block">
				<div class="benefits-img"><img src="img/imgs/5_benefits.png" alt=""></div>
				<div class="benefits-text">МЫ НИКОГДА НЕ ПОВТОРЯЕМСЯ КАЖДЫЙ НАШ ПРОЕКТ &ndash; УНИКАЛЕН</div>
			</div>
			<div class="benefits-block">
				<div class="benefits-img"><img src="img/imgs/6_benefits.png" alt=""></div>
				<div class="benefits-text">10+ ЛЕТ ОПЫТА СОЗДАНИЯ САЛОНОВ КРАСОТЫ</div>
			</div>
		</div>
	</div>
</section>