<section class="wrapper business">
	<div class="business-phone">
		38 (044) 503-78-53
	</div>
	<div class="container business-container">
		<div class="business-top">
			<div class="business-top-red">БИЗНЕС ПОД КЛЮЧ</div>
			<div class="business-top-bigger">КАК</div>
			<div class="business-top-text">СОЗДАТЬ СВОЙ САЛОН КРАСОТЫ</div>
			<img src="img/imgs/red.png" alt="" class="business-top-img">
		</div>
		<div class="business-bottom">ОКУПАЕМОСТЬ БИЗНЕСА ВАШЕГО САЛОНА ВСЕГО ЗА 2 ГОДА</div>
	</div>
</section>