<section class="wrapper contacts">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.3639909184226!2d30.555483685879654!3d50.41568959273723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf6ec4a534eb%3A0x2a6adb4597f4538!2z0LLRg9C70LjRhtGPINCR0LDRgdGC0ZbQvtC90L3QsCwg0JrQuNGX0LI!5e0!3m2!1suk!2sua!4v1481811000305" frameborder="0" allowfullscreen class="contacts-map contacts-map-active"></iframe>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d175899.85463819784!2d30.571704326682273!3d46.45988648829466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6318a0b864c43%3A0x129f8fe28cf2176c!2z0J7QtNC10YHQsCwg0J7QtNC10YHRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1suk!2sua!4v1481818615158" frameborder="0" allowfullscreen class="contacts-map"></iframe>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82352.67101476366!2d23.942195949320766!3d49.83266794934699!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add7c09109a57%3A0x4223c517012378e2!2z0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1suk!2sua!4v1481818629380" frameborder="0" allowfullscreen class="contacts-map"></iframe>
	<div class="inner">
		<div class="container contacts-container">
			<div class="title title-right">
				<div class="title-number">10</div>
				<div class="title-text">Наши<br>контакты</div>
			</div>
			<div class="contacts-toggle">
				<a class="contacts-toggle-link contacts-toggle-link-active" data-city="1">
					<span class="contacts-u">Киев</span> <i class="fa fa-map-marker" aria-hidden="true"></i>
				</a>
				<a class="contacts-toggle-link" data-city="2">
					<span class="contacts-u">Одесса</span> <i class="fa fa-map-marker" aria-hidden="true"></i>
				</a>
				<a class="contacts-toggle-link" data-city="3">
					<span class="contacts-u">Львов</span> <i class="fa fa-map-marker" aria-hidden="true"></i>
				</a>
			</div>
			<div class="contacts-text">
				<div class="contacts-addr contacts-addr-active">
					<div class="contacts-title">Киев</div>
					<div class="contacts-p">38 (044) 503-78-53</div>
					<div class="contacts-p">zyy@duso.ua</div>
					<div class="contacts-p">ул. Бастионная, 12</div>
				</div>
				<div class="contacts-addr">
					<div class="contacts-title">Одесса</div>
					<div class="contacts-p">38 (048) 715-57-40</div>
					<div class="contacts-p">oda@duso.ua</div>
					<div class="contacts-p">ул. Бунина, 37</div>
				</div>
				<div class="contacts-addr">
					<div class="contacts-title">Львов</div>
					<div class="contacts-p">38 (032) 24-45-425</div>
					<div class="contacts-p">ben.andriy@duso.ua</div>
					<div class="contacts-p">ул. Липинского, 36</div>
				</div>
			</div>
		</div>
	</div>
</section>