<section class="wrapper discount">
	<div class="container discount-container">
		<div class="title title-right title-black">
			<div class="title-number">04</div>
			<div class="title-text">Акционные предложения</div>
		</div>
		<div class="discount-arrows">
			<a class="slider-arrow" data-dir="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
			<a class="slider-arrow" data-dir="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
		</div>
		<div class="discount-image-place">
			<img src="img/imgs/4_img.png" alt="" class="discount-image">
		</div>
		<div class="discount-slider">
			<div class="discount-slide discount-slide-active">
				<div class="discount-slider-title">АППАРАТ ДЛЯ КОРРЕКЦИИ ФИГУРЫ СО СКИДКОЙ 50%</div>
				<div class="discount-slider-text">
					С помощью такой услуги Вы потратите минимум средств, застрахуете себя от ошибок и главное с экономите массу времени на этапе создания салона, и конечно же, обеспечите себе максимальную прибыль в будущем. Наши специалисты помогут Вам организовать бизнес красоты с нуля с оказанием постоянной професиональной консультационной поддержкой на протяжении всего жизненного цикла Вашего салона.
				</div>
				<a href="" class="discount-slider-add">Подробнее</a>
			</div>
			<div class="discount-slide">
				<div class="discount-slider-title">#2</div>
				<div class="discount-slider-text">
					С помощью такой услуги Вы потратите минимум средств, застрахуете себя от ошибок и главное с экономите массу времени на этапе создания салона, и конечно же, обеспечите себе максимальную прибыль в будущем. Наши специалисты помогут Вам организовать бизнес красоты с нуля с оказанием постоянной професиональной консультационной поддержкой на протяжении всего жизненного цикла Вашего салона.
				</div>
				<a href="" class="discount-slider-add">Подробнее</a>
			</div>
			<div class="discount-slide">
				<div class="discount-slider-title">#3</div>
				<div class="discount-slider-text">
					С помощью такой услуги Вы потратите минимум средств, застрахуете себя от ошибок и главное с экономите массу времени на этапе создания салона, и конечно же, обеспечите себе максимальную прибыль в будущем. Наши специалисты помогут Вам организовать бизнес красоты с нуля с оказанием постоянной професиональной консультационной поддержкой на протяжении всего жизненного цикла Вашего салона.
				</div>
				<a href="" class="discount-slider-add">Подробнее</a>
			</div>
			<div class="discount-slide">
				<div class="discount-slider-title">#4</div>
				<div class="discount-slider-text">
					С помощью такой услуги Вы потратите минимум средств, застрахуете себя от ошибок и главное с экономите массу времени на этапе создания салона, и конечно же, обеспечите себе максимальную прибыль в будущем. Наши специалисты помогут Вам организовать бизнес красоты с нуля с оказанием постоянной професиональной консультационной поддержкой на протяжении всего жизненного цикла Вашего салона.
				</div>
				<a href="" class="discount-slider-add">Подробнее</a>
			</div>
			<div class="discount-slide">
				<div class="discount-slider-title">#5</div>
				<div class="discount-slider-text">
					С помощью такой услуги Вы потратите минимум средств, застрахуете себя от ошибок и главное с экономите массу времени на этапе создания салона, и конечно же, обеспечите себе максимальную прибыль в будущем. Наши специалисты помогут Вам организовать бизнес красоты с нуля с оказанием постоянной професиональной консультационной поддержкой на протяжении всего жизненного цикла Вашего салона.
				</div>
				<a href="" class="discount-slider-add">Подробнее</a>
			</div>
		</div>
		<div class="discount-dots">
			<ul class="slider-dots"></ul>
		</div>
	</div>
</section>