<section class="wrapper faq">
	<div class="container faq-container">
		<div class="title title-center">
			<div class="title-number">12</div>
			<div class="title-text">Остались вопросы?</div>
		</div>
		<form action="" class="faq-form">
			<div class="faq-input-place"><input type="text" class="faq-input" placeholder="Введите Ваше имя"></div>
			<div class="faq-input-place"><input type="text" class="faq-input" placeholder="Введите Ваш телефон"></div>
			<div class="faq-submit-place"><input type="submit" class="faq-submit" value="Получить консультацию"></div>
		</form>
	</div>
</section>