<footer class="footer">
	<div class="container footer-container">
		<div class="footer-part footer-logo"><img src="img/imgs/logo.png" alt="" class="footer-logo-image"></div>
		<div class="footer-part">
			<div class="footer-social">
				<a href="" class="footer-social-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="" class="footer-social-link"><i class="fa fa-vk" aria-hidden="true"></i></a>
				<a href="" class="footer-social-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div>
			<div class="footer-contacts">
				<div class="footer-contacts-p"><span class="footer-contacts-city">Киев</span> 38 (044) 503-78-53</div>
				<div class="footer-contacts-p"><span class="footer-contacts-city">Одесса</span> 38 (048) 715-57-40</div>
				<div class="footer-contacts-p"><span class="footer-contacts-city">Львов</span> 38 (032) 24-45-425</div>
			</div>
		</div>
		<div class="footer-part footer-fresh">
			<div class="fresh">
				<div class="created">САЙТ РАЗРАБОТАН</div>
				<a href="http://freshweb.agency/" target="_blank">
					<div class="fresh-logo">
						<span>F</span><span>R</span><span>E</span><span>S</span><span>H</span>
					</div>
				</a>
				<div class="creative">CREATIVE WEB AGENCY</div>
			</div>
		</div>
	</div>
</footer>