<section class="wrapper help">
	<div class="container help-container">
		<div class="title title-black title-right help-title">
			<div class="title-number">03</div>
			<div class="title-text">МЫ ПОМОЖЕМ ОТКРЫТЬ<br>САЛОН ТВОЕЙ МЕЧТЫ<br><span class="red">ЗА 2 МЕСЯЦА</span></div>
		</div>
		<div class="help-box">
			<div class="help-block">
				<img src="img/imgs/help_earn.png" alt="" class="help-img">
				<div class="help-text">СТАБИЛЬНЫЙ ДОХОД</div>
			</div>
			<div class="help-block help-keys">
				<img src="img/imgs/help_keys.png" alt="" class="help-img">
			</div>
			<div class="help-block">
				<img src="img/imgs/help_clock.png" alt="" class="help-img">
				<div class="help-text">МИНИМУМ ВРЕМЕНИ</div>
			</div>
			<div class="help-block help-rise">
				<img src="img/imgs/help_rise.png" alt="" class="help-img">
				<div class="help-text">УСПЕШНЫЙ РОСТ</div>
			</div>
		</div>
	</div>
</section>