<section class="wrapper hr">
	<div class="container hr-container">
		<div class="title title-left hr-title">
			<div class="title-number">04</div>
			<div class="title-text">Обучим<br>персонал</div>
		</div>
		<div class="hr-add-title">ТАК ЖЕ МЫ ОБУЧАЕМ:</div>
		<div class="hr-book-place">
			<div class="hr-book-half hr-book-left">
				<div class="hr-slider">
					<img src="img/imgs/hr_red.png" alt="" class="hr-background">
					<div class="hr-surface"></div>
					<img src="img/imgs/hr_shadow.png" alt="" class="hr-shadow">
					<img src="img/imgs/hr_blue.png" alt="" class="hr-front">
					<img src="img/imgs/hr_author.png" alt="" class="hr-author">
				</div>
			</div>
			<div class="hr-book-half hr-book-right">
				<div class="hr-book-title">Ольга Хайновская</div>
				<div class="hr-book-p">Бизнес-консультант по салонному менеджменту, руководитель направления DUSO консалтинг.</div>
				<div class="hr-book-p">Имеет большой опыт в организации успешных предприятий индустрии красоты с нуля. Обладает позитивным опытом антикризисного управления салонами красоты.</div>
			</div>
			<div class="hr-book-nav">
				<a href="" class="hr-nav-link">СКАЧАТЬ ДЕМО</a>
				<div class="hr-arrows">
					<a class="slider-arrow"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
					<a class="slider-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
				</div>
				<a href="" class="hr-nav-link">ЗАКАЗАТЬ КНИГУ</a>
			</div>
		</div>
		<div class="hr-photo-place">
			<a href="" class="hr-photo-link">
				<img src="img/imgs/1_hr.png" alt="" class="hr-photo-img">
				 АДМИНИСТРАТОРОВ И РУКОВОДИТЕЛЕЙ САЛОНА
			</a>
			<a href="" class="hr-photo-link">
				<img src="img/imgs/2_hr.png" alt="" class="hr-photo-img">
				МАСТЕРОВ САЛОНА
			</a>
		</div>
		<div class="clearfix"></div>
	</div>
</section>