<section class="wrapper keys">
	<div class="container keys-container">
		<ul class="keys-steps">
			<li class="keys-step">
				<div class="keys-number">1</div>
				ПОДБИРАЕМ НЕОБХОДИМОЕ ОБОРУДОВАНИЕ ДЛЯ ВАШЕГО САЛОНА
			</li>
			<li class="keys-step">
				<div class="keys-number">2</div>
				МОНТИРУЕМ И ПОДКЛЮЧАЕМ
			</li>
			<li class="keys-step">
				<div class="keys-number">3</div>
				ДОСТАВЛЯЕМ ОБОРУДОВАНИЕ И КОСМЕТИКУ В ЛЮБУЮ ТОЧКУ УКРАИНЫ
			</li>
			<li class="keys-step">
				<div class="keys-number">4</div>
				ПОДБИРАЕМ ПЕРСОНАЛ ИЗ ВАШЕГО РЕГИОНА
			</li>
			<li class="keys-step">
				<div class="keys-number">5</div>
				КРАСИВО ОФОРМИМ ФАСАД ВАШЕГО САЛОНА ДЛЯ ПРИВЛЕЧЕНИЯ ВНИМАНИЯ
			</li>
		</ul>
	</div>
</section>