<section class="wrapper keys">
	<div class="container keys-container">
		<div class="title title-left keys-title">
			<div class="title-number">10</div>
			<div class="title-text">Все под<br>ключ</div>
		</div>
		<img src="img/imgs/1_keys.png" alt="" class="keys-image">
		<img src="img/bgs/18.png" alt="" class="keys-bg">
		<ul class="keys-steps">
			<div class="keys-line"></div>
			<li class="keys-step keys-step-active">
				<div class="keys-number">1</div>
				ПОДБИРАЕМ НЕОБХОДИМОЕ ОБОРУДОВАНИЕ ДЛЯ ВАШЕГО САЛОНА
			</li>
			<li class="keys-step">
				<div class="keys-number">2</div>
				МОНТИРУЕМ И ПОДКЛЮЧАЕМ
			</li>
			<li class="keys-step">
				<div class="keys-number">3</div>
				ДОСТАВЛЯЕМ ОБОРУДОВАНИЕ И КОСМЕТИКУ В ЛЮБУЮ ТОЧКУ УКРАИНЫ
			</li>
			<li class="keys-step">
				<div class="keys-number">4</div>
				ПОДБИРАЕМ ПЕРСОНАЛ ИЗ ВАШЕГО РЕГИОНА
			</li>
			<li class="keys-step">
				<div class="keys-number">5</div>
				КРАСИВО ОФОРМИМ ФАСАД ВАШЕГО САЛОНА ДЛЯ ПРИВЛЕЧЕНИЯ ВНИМАНИЯ
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>
</section>