<div class="mobile">
	<section class="mobile-wrapper mobile-start">
		<img src="img/imgs/logo_mobile.png" alt="" class="mobile-start-logo">
		<div class="start-text mobile-start-text">СОЗДАЕМ BEAUTY-БИЗНЕС ДЛЯ ВАС</div>
		<a href="" class="mobile-start-link">
			<img src="img/imgs/play_mobile.png" alt="" class="mobile-yt">
			<div class="mobile-start-link-text">ПОСМОТРЕТЬ НАШ<br>ВИДЕО-РОЛИК</div>
		</a>
	</section>
	<section class="mobile-wrapper mobile-directions">
		<a href="" class="directions-link">
			<div class="directions-icon-place"><img src="img/imgs/1_acc_ico_hover.png" alt="" class="directions-icon"></div>
			<div class="directions-text">Салон красоты под ключ</div>
			<i class="directions-arrow fa fa-caret-right" aria-hidden="true"></i>
		</a>
		<a href="" class="directions-link">
			<div class="directions-icon-place"><img src="img/imgs/2_acc_ico_hover.png" alt="" class="directions-icon"></div>
			<div class="directions-text">ПРОФЕССИОНАЛЬНОЕ ОБОРУДОВАНИЕ</div>
			<i class="directions-arrow fa fa-caret-right" aria-hidden="true"></i>
		</a>
		<a href="" class="directions-link">
			<div class="directions-icon-place"><img src="img/imgs/3_acc_ico_hover.png" alt="" class="directions-icon"></div>
			<div class="directions-text">ПРОФЕССИОНАЛЬНАЯ КОСМЕТИКА</div>
			<i class="directions-arrow fa fa-caret-right" aria-hidden="true"></i>
		</a>
		<a href="" class="directions-link">
			<div class="directions-icon-place"><img src="img/imgs/4_acc_ico_hover.png" alt="" class="directions-icon"></div>
			<div class="directions-text">ИНСТРУМЕНТЫ</div>
			<i class="directions-arrow fa fa-caret-right" aria-hidden="true"></i>
		</a>
		<a href="" class="directions-link">
			<div class="directions-icon-place"><img src="img/imgs/5_acc_ico_hover.png" alt="" class="directions-icon"></div>
			<div class="directions-text">ОБУЧЕНИЕ</div>
			<i class="directions-arrow fa fa-caret-right" aria-hidden="true"></i>
		</a>
	</section>
	<section class="mobile-wrapper mobile-reasons">
		
	</section>
	<section class="mobile-wrapper mobile-discount">
		
	</section>
	<section class="mobile-wrapper mobile-history">
		
	</section>
	<section class="mobile-wrapper mobile-clients">
		
	</section>
	<section class="mobile-wrapper mobile-team">
		
	</section>
	<section class="mobile-wrapper mobile-news">
		
	</section>
	<section class="mobile-wrapper mobile-contacts">
		
	</section>
</div>