<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section class="wrapper news">
	<div class="news-parallax">
		<img src="img/parallax/1_news.png" alt="" class="news-parallax-img">
		<img src="img/parallax/2_news.png" alt="" class="news-parallax-img">
		<img src="img/parallax/3_news.png" alt="" class="news-parallax-img">
		<img src="img/parallax/4_news.png" alt="" class="news-parallax-img">
		<img src="img/parallax/5_news.png" alt="" class="news-parallax-img">
		<img src="img/parallax/6_news.png" alt="" class="news-parallax-img">
		<img src="img/parallax/7_news.png" alt="" class="news-parallax-img">
		<img src="img/parallax/8_news.png" alt="" class="news-parallax-img">
		<img src="img/parallax/9_news.png" alt="" class="news-parallax-img">
	</div>
	<div class="news-inner">
		<div class="container news-container">
			<div class="title title-right title-black">
				<div class="title-number">08</div>
				<div class="title-text">Наши<br>новости</div>
			</div>
			<div class="news-social">
				<div class="fb-page" data-href="https://www.facebook.com/duso.ua" data-tabs="timeline" data-width="420" data-height="670" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/duso.ua" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/duso.ua">DUSO / ДЮСО</a></blockquote></div>
			</div>
			<div class="news-text">
				Компания DUSO была основана 18 августа 2006 года, За 10 лет успешной работы мы добились существенных успехов и увереннно занимаем лидирующие позиции на рынке консалтинговых услуг для предприятий индустрии красоты в Украине, Приводим некоторые наши достижения:
			</div>
		</div>
	</div>
</section>