<section class="wrapper packs">
	<div class="container packs-container">
		<div class="title title-right title-black packs-title">
			<div class="title-number">09</div>
			<div class="title-text">Наши<br>пакеты</div>
		</div>
		<div class="packs-block">
			<div class="packs-block-title">БАЗОВЫЙ<br>ПАКЕТ</div>
			<img src="" alt="" class="packs-block-img">
			<a href="" class="packs-block-link">УЗНАТЬ СТОИМОСТЬ</a>
		</div>
		<div class="packs-block">
			<div class="packs-block-title">ПАКЕТ<br>СТАНДАРТ</div>
			<img src="" alt="" class="packs-block-img">
			<a href="" class="packs-block-link">УЗНАТЬ СТОИМОСТЬ</a>
		</div>
		<div class="packs-block">
			<div class="packs-block-title">ПОЛНЫЙ<br>ПАКЕТ</div>
			<img src="" alt="" class="packs-block-img">
			<a href="" class="packs-block-link">УЗНАТЬ СТОИМОСТЬ</a>
		</div>
	</div>
</section>