<section class="wrapper portfolio">
	<div class="container portfolio-container">
		<div class="title title-left portfolio-title">
			<div class="title-number">08</div>
			<div class="title-text">Наше<br>портфолио</div>
			<div class="portfolio-arrows">
				<a class="slider-arrow" data-dir="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
				<a class="slider-arrow" data-dir="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="portfolio-slider">
			<div class="portfolio-slide portfolio-slide-active">
				<div class="portfolio-half portfolio-half-left">
					<div class="portfolio-inner-slider">
						<div><img src="img/imgs/1_portfolio.png" alt="" class="portfolio-img"></div>
						<div><img src="img/imgs/1_portfolio.png" alt="" class="portfolio-img"></div>
						<div><img src="img/imgs/1_portfolio.png" alt="" class="portfolio-img"></div>
					</div>
					<a class="portfolio-inner-slider-arrow-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
					<a class="portfolio-inner-slider-arrow-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
					<div class="portfolio-break"> </div>
					<img src="img/imgs/1_portfolio_client.png" alt="" class="portfolio-client">
					<div class="portfolio-text">
						<div class="portfolio-text-title">
							Виктория Дюсовна<br>
							Директор SPA салона Ромашка
						</div>
						Одной из первых и основных задач стало практичное и удобное разделение большого пространства на зоны. Дизайнеры воспользовались легкими перегородками с тканевыми нитями, которые обеспечивают необходимое уединение и визуально отделяют одну зону от другой, но при этом не загромождают пространство и оставляют ощущение простора.				
					</div>
				</div>
				<div class="portfolio-half portfolio-half-right">
					<div class="portfolio-point">ГОРОД &ndash; <span class="portfolio-point-red">КИЕВ</span></div>
					<div class="portfolio-point">ПЛОЩАДЬ &ndash; <span class="portfolio-point-red">120 м2</span></div>
					<div class="portfolio-point">КОЛ-ВО СОТРУДНИКОВ &ndash; <span class="portfolio-point-red">23</span></div>
					<div class="portfolio-point">ТИП &ndash; <span class="portfolio-point-red">SPA САЛОН</span></div>
					<div class="portfolio-point">УСЛУГИ САЛОНА &ndash; <span class="portfolio-point-red">SPA ПРОЦЕДУРЫ, МАССАЖ</span></div>
					<div class="portfolio-point">СРОК ОКУПАЕМОСТИ &ndash; <span class="portfolio-point-red">5 ЛЕТ</span></div>
					<div class="portfolio-description">
						Одной из первых и основных задач стало практичное и удобное разделение большого пространства на зоны. Дизайнеры воспользовались легкими перегородками с тканевыми нитями, которые обеспечивают необходимое уединение и визуально отделяют одну зону от другой, но при этом не загромождают пространство и оставляют ощущение простора.
					</div>
				</div>
			</div>
			<div class="portfolio-slide">
				<div class="portfolio-half portfolio-half-left">
					<div class="portfolio-inner-slider">
						<div><img src="img/imgs/1_portfolio.png" alt="" class="portfolio-img"></div>
						<div><img src="img/imgs/1_portfolio.png" alt="" class="portfolio-img"></div>
						<div><img src="img/imgs/1_portfolio.png" alt="" class="portfolio-img"></div>
					</div>
					<a class="portfolio-inner-slider-arrow-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
					<a class="portfolio-inner-slider-arrow-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
					<div class="portfolio-break"> </div>
					<img src="img/imgs/1_portfolio_client.png" alt="" class="portfolio-client">
					<div class="portfolio-text">
						<div class="portfolio-text-title">
							Виктория Дюсовна<br>
							Директор SPA салона Ромашка
						</div>
						Одной из первых и основных задач стало практичное и удобное разделение большого пространства на зоны. Дизайнеры воспользовались легкими перегородками с тканевыми нитями, которые обеспечивают необходимое уединение и визуально отделяют одну зону от другой, но при этом не загромождают пространство и оставляют ощущение простора.				
					</div>
				</div>
				<div class="portfolio-half portfolio-half-right">
					<div class="portfolio-point">ГОРОД &ndash; <span class="portfolio-point-red">КИЕВ</span></div>
					<div class="portfolio-point">ПЛОЩАДЬ &ndash; <span class="portfolio-point-red">120 м2</span></div>
					<div class="portfolio-point">КОЛ-ВО СОТРУДНИКОВ &ndash; <span class="portfolio-point-red">23</span></div>
					<div class="portfolio-point">ТИП &ndash; <span class="portfolio-point-red">SPA САЛОН</span></div>
					<div class="portfolio-point">УСЛУГИ САЛОНА &ndash; <span class="portfolio-point-red">SPA ПРОЦЕДУРЫ, МАССАЖ</span></div>
					<div class="portfolio-point">СРОК ОКУПАЕМОСТИ &ndash; <span class="portfolio-point-red">5 ЛЕТ</span></div>
					<div class="portfolio-description">
						Одной из первых и основных задач стало практичное и удобное разделение большого пространства на зоны. Дизайнеры воспользовались легкими перегородками с тканевыми нитями, которые обеспечивают необходимое уединение и визуально отделяют одну зону от другой, но при этом не загромождают пространство и оставляют ощущение простора.
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>