<section class="wrapper question">
	<div class="question-bg">
		<img src="img/imgs/1_question.png" alt="" class="question-bg-img question-bg-img-active">
		<img src="img/imgs/2_question.png" alt="" class="question-bg-img">
		<img src="img/imgs/3_question.png" alt="" class="question-bg-img">
		<img src="img/imgs/4_question.png" alt="" class="question-bg-img">
		<img src="img/imgs/5_question.png" alt="" class="question-bg-img">
		<img src="img/imgs/6_question.png" alt="" class="question-bg-img">
		<div class="question-bg-dark"></div>
	</div>
	<div class="question-slider">
		<div class="question-slide question-slide-active">
			НЕ ЗНАЕШЬ КАК ВЫБРАТЬ ДИЗАЙН ИНТЕРЬЕРА, КОТОРЫЙ ПОНРАВИТСЯ КЛИЕНТКАМ?
		</div>
		<div class="question-slide">
			НЕ ЗНАЕШЬ КАК ВЫБРАТЬ ДИЗАЙН ИНТЕРЬЕРА &ndash; 2?
		</div>
		<div class="question-slide">
			НЕ ЗНАЕШЬ КАК ВЫБРАТЬ ДИЗАЙН ИНТЕРЬЕРА &ndash; 3?
		</div>
		<div class="question-slide">
			НЕ ЗНАЕШЬ КАК ВЫБРАТЬ ДИЗАЙН ИНТЕРЬЕРА &ndash; 4?
		</div>
		<div class="question-slide">
			НЕ ЗНАЕШЬ КАК ВЫБРАТЬ ДИЗАЙН ИНТЕРЬЕРА &ndash; 5?
		</div>
		<div class="question-slide">
			НЕ ЗНАЕШЬ КАК ВЫБРАТЬ ДИЗАЙН ИНТЕРЬЕРА &ndash; 6?
		</div>
	</div>
	<div class="question-dots">
		<ul class="slider-dots"></ul>
	</div>
</section>