<section class="wrapper saloons">
	<div class="title title-center saloons-title">
		<div class="title-number">11</div>
		<div class="title-text">
			САЛОНЫ КРАСОТЫ ПО ВСЕЙ УКРАИНЕ<br>
			УЖЕ ПРИНОСЯТ ПРИБЫЛЬ СВОИМ ВЛАДЕЛЬЦАМ.<br>
			ПРИХОДИ И УБЕДИСЬ САМА
		</div>
	</div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.3639909184226!2d30.555483685879654!3d50.41568959273723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf6ec4a534eb%3A0x2a6adb4597f4538!2z0LLRg9C70LjRhtGPINCR0LDRgdGC0ZbQvtC90L3QsCwg0JrQuNGX0LI!5e0!3m2!1suk!2sua!4v1481811000305" frameborder="0" allowfullscreen class="saloons-map"></iframe>
</section>