<section class="wrapper steps">
	<div class="container steps-container">
		<img src="img/imgs/1_steps.png" alt="" class="steps-image">
		<div class="title title-black title-right">
			<div class="title-number">05</div>
			<div class="title-text"><span class="red">5</span> ПРОСТЫХ ШАГОВ<br>К ОТКРЫТИЮ СВОЕГО<br>САЛОНА КРАСОТЫ</div>
		</div>
		<div class="steps-arrows">
			<a class="slider-arrow" data-dir="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
			<a class="slider-arrow" data-dir="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
		</div>
		<div class="steps-slider">
			<div class="steps-slide steps-slide-active">
				<div class="steps-slide-title">Шаг 1</div>
				<div class="steps-slide-text">Мы продумаем за тебя концепцию салона и составим подробный бизнес-план твоего проекта со всеми затратами</div>
			</div>
			<div class="steps-slide">
				<div class="steps-slide-title">Шаг 2</div>
				<div class="steps-slide-text">Мы продумаем за тебя концепцию салона и составим подробный бизнес-план твоего проекта со всеми затратами</div>
			</div>
			<div class="steps-slide">
				<div class="steps-slide-title">Шаг 3</div>
				<div class="steps-slide-text">Мы продумаем за тебя концепцию салона и составим подробный бизнес-план твоего проекта со всеми затратами</div>
			</div>
		</div>
	</div>
</section>