<section class="wrapper accordion">
	<div class="accordion-container">
		<div class="accordion-slide" data-accordion-slide="1">
			<div class="accordion-inside">
				<div class="accordion-small">
					<img src="img/imgs/accordion/icons/1.png" alt="" class="accordion-small-icon">
					<div class="accordion-small-title">САЛОН КРАСОТЫ ПОД КЛЮЧ</div>
				</div>
				<div class="accordion-big">
					<div class="accordion-big-text accordion-main">
						<div class="accordion-item accordion-item-1">РАЗРАБОТКА КОНЦЕПЦИИ И БИЗНЕС ПЛАНИРОВАНИЕ</div>
						<div class="accordion-item accordion-item-2">ДИЗАЙН И ПРОЕКТИРОВАНИЕ</div>
						<div class="accordion-item accordion-item-3">ОСНАЩЕНИЕ ПРОФЕССИОНАЛЬНЫМ ОБОРУДОВАНИЕМ И ТЕХНИКОЙ</div>
						<div class="accordion-item accordion-item-4">ОБУЧЕНИЕ СПЕЦИАЛИСТОВ И АДМИНИСТРАТИВНОГО ПЕРСОНАЛА</div>
						<div class="accordion-item accordion-item-5">ЗАПУСК И ЭФФЕКТИВНОЕ УПРАВЛЕНИЕ</div>
						<img src="img/imgs/accordion/icons/1_hover.png" alt="" class="accordion-big-icon">
						<div class="accordion-big-title">САЛОН КРАСОТЫ ПОД КЛЮЧ</div>
						<div class="accordion-add-place"><a href="" class="accordion-add">Подробнее</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-slide" data-accordion-slide="2">
			<div class="accordion-inside">
				<div class="accordion-small">
					<img src="img/imgs/accordion/icons/2.png" alt="" class="accordion-small-icon">
					<div class="accordion-small-title">ПРОФЕССИОНАЛЬНОЕ ОБОРУДОВАНИЕ</div>
				</div>
				<div class="accordion-big">
					<div class="accordion-big-text">
						<img src="img/imgs/accordion/icons/2_hover.png" alt="" class="accordion-big-icon">
						<div class="accordion-big-title">ПРОФЕССИОНАЛЬНОЕ ОБОРУДОВАНИЕ</div>
						<div class="accordion-big-p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate suscipit minima architecto cum itaque laboriosam ipsam non? Officiis, incidunt, ducimus. Eaque, modi quia perferendis perspiciatis et totam nisi aliquam provident. Beatae culpa, repellendus, aspernatur aliquid reprehenderit perspiciatis libero ullam harum amet accusamus deserunt omnis id rerum architecto natus iste ratione.
						</div>
						<div class="accordion-add-place"><a href="" class="accordion-add">Подробнее</a></div>						
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-slide" data-accordion-slide="3">
			<div class="accordion-inside">
				<div class="accordion-small">
					<img src="img/imgs/accordion/icons/3.png" alt="" class="accordion-small-icon">
					<div class="accordion-small-title">ПРОФЕССИОНАЛЬНАЯ КОСМЕТИКА</div>
				</div>
				<div class="accordion-big">
					<div class="accordion-big-text">
						<img src="img/imgs/accordion/icons/3_hover.png" alt="" class="accordion-big-icon">
						<div class="accordion-big-title">ПРОФЕССИОНАЛЬНАЯ КОСМЕТИКА</div>
						<div class="accordion-big-p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate suscipit minima architecto cum itaque laboriosam ipsam non? Officiis, incidunt, ducimus. Eaque, modi quia perferendis perspiciatis et totam nisi aliquam provident. Beatae culpa, repellendus, aspernatur aliquid reprehenderit perspiciatis libero ullam harum amet accusamus deserunt omnis id rerum architecto natus iste ratione.
						</div>
						<div class="accordion-add-place"><a href="" class="accordion-add">Подробнее</a></div>						
					</div>
				</div>				
			</div>
		</div>
		<div class="accordion-slide" data-accordion-slide="4">
			<div class="accordion-inside">
				<div class="accordion-small">
					<img src="img/imgs/accordion/icons/4.png" alt="" class="accordion-small-icon">
					<div class="accordion-small-title">ИНСТРУМЕНТЫ</div>
				</div>
				<div class="accordion-big">
					<div class="accordion-big-text">
						<img src="img/imgs/accordion/icons/4_hover.png" alt="" class="accordion-big-icon">
						<div class="accordion-big-title">ИНСТРУМЕНТЫ</div>
						<div class="accordion-big-p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate suscipit minima architecto cum itaque laboriosam ipsam non? Officiis, incidunt, ducimus. Eaque, modi quia perferendis perspiciatis et totam nisi aliquam provident. Beatae culpa, repellendus, aspernatur aliquid reprehenderit perspiciatis libero ullam harum amet accusamus deserunt omnis id rerum architecto natus iste ratione.
						</div>
						<div class="accordion-add-place"><a href="" class="accordion-add">Подробнее</a></div>						
					</div>
				</div>				
			</div>
		</div>
		<div class="accordion-slide" data-accordion-slide="5">
			<div class="accordion-inside">
				<div class="accordion-small">
					<img src="img/imgs/accordion/icons/5.png" alt="" class="accordion-small-icon">
					<div class="accordion-small-title">ОБУЧЕНИЕ</div>
				</div>
				<div class="accordion-big">
					<div class="accordion-big-text">
						<img src="img/imgs/accordion/icons/5_hover.png" alt="" class="accordion-big-icon">
						<div class="accordion-big-title">ОБУЧЕНИЕ</div>
						<div class="accordion-big-p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate suscipit minima architecto cum itaque laboriosam ipsam non? Officiis, incidunt, ducimus. Eaque, modi quia perferendis perspiciatis et totam nisi aliquam provident. Beatae culpa, repellendus, aspernatur aliquid reprehenderit perspiciatis libero ullam harum amet accusamus deserunt omnis id rerum architecto natus iste ratione.
						</div>
						<div class="accordion-add-place"><a href="" class="accordion-add">Подробнее</a></div>						
					</div>
				</div>				
			</div>
		</div>
	</div>
</section>