<section class="wrapper accordion">
	<div class="accordion-container">
		<div class="accordion-slide" data-accordion-slide="1">
			<div class="accordion-inside">
				
			</div>
		</div>
		<div class="accordion-slide" data-accordion-slide="2">
			<div class="accordion-inside">
				
			</div>
		</div>
		<div class="accordion-slide" data-accordion-slide="3">
			<div class="accordion-inside">
				
			</div>
		</div>
		<div class="accordion-slide" data-accordion-slide="4">
			<div class="accordion-inside">
				
			</div>
		</div>
		<div class="accordion-slide" data-accordion-slide="5">
			<div class="accordion-inside">
				
			</div>
		</div>
	</div>
</section>