<section class="wrapper blog">
	<div class="container blog-container">
		<div class="blog-half-big">		
			<div class="title title-left">
				<div class="title-number">09</div>
				<div class="title-text">Наш<br>блог</div>
			</div>
			<div class="blog-links">		
				<a href="" class="blog-link">ОБОРУДОВАНИЕ ДЛЯ САЛОНОВ КРАСОТЫ</a>
				<a href="" class="blog-link">ПАРИКМАХЕРСКОЕ ОБОРУДОВАНИЕ</a>
				<a href="" class="blog-link">ДИЗАЙН-ПРОЕКТ</a>
				<a href="" class="blog-link">КЛАССИЧЕСКИЕ МЕТОДИКИ В АППАРАТНОЙ КОСМЕТОЛОГИИ</a>
				<a href="" class="blog-link">ОБОРУДОВАНИЕ ДЛЯ САЛОНОВ КРАСОТЫ</a>
				<a href="" class="blog-link">ПАРИКМАХЕРСКОЕ ОБОРУДОВАНИЕ</a>
				<a href="" class="blog-link blog-link-all">Все статьи</a>
			</div>
		</div>
		<div class="blog-half-small">
			<div class="blog-arrows">
				<a class="slider-arrow" data-dir="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
				<a class="slider-arrow" data-dir="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
			</div>
			<div class="blog-slider">
				<div class="blog-slide blog-slide-active">
					<div class="blog-title">ОПИСАНИЕ КОНСАЛТИНГОВЫХ УСЛУГ ПО ПРОЕКТУ</div>
					<div class="blog-text">
						Услуга "Салон красоты "под ключ"" разработана специально для будущих руководителей и инвесторов предприятия индустрии красоты. С помощью такой услуги Вы потратите минимум средств, застрахуете себя от ошибок и главное с экономите массу времени на этапе создания салона, и конечно же, обеспечите себе максимальную прибыль в будущем. Наши специалисты помогут Вам организовать бизнес красоты с нуля с оказанием постоянной професиональной консультационной поддержкой на протяжении всего жизненного цикла Вашего салона.
					</div>
				</div>
				<div class="blog-slide">
					<div class="blog-title">ОПИСАНИЕ КОНСАЛТИНГОВЫХ УСЛУГ ПО ПРОЕКТУ</div>
					<div class="blog-text">
						Услуга "Салон красоты "под ключ"" разработана специально для будущих руководителей и инвесторов предприятия индустрии красоты. С помощью такой услуги Вы потратите минимум средств, застрахуете себя от ошибок и главное с экономите массу времени на этапе создания салона, и конечно же, обеспечите себе максимальную прибыль в будущем. Наши специалисты помогут Вам организовать бизнес красоты с нуля с оказанием постоянной професиональной консультационной поддержкой на протяжении всего жизненного цикла Вашего салона.
					</div>
				</div>
				<div class="blog-slide">
					<div class="blog-title">ОПИСАНИЕ КОНСАЛТИНГОВЫХ УСЛУГ ПО ПРОЕКТУ</div>
					<div class="blog-text">
						Услуга "Салон красоты "под ключ"" разработана специально для будущих руководителей и инвесторов предприятия индустрии красоты. С помощью такой услуги Вы потратите минимум средств, застрахуете себя от ошибок и главное с экономите массу времени на этапе создания салона, и конечно же, обеспечите себе максимальную прибыль в будущем. Наши специалисты помогут Вам организовать бизнес красоты с нуля с оказанием постоянной професиональной консультационной поддержкой на протяжении всего жизненного цикла Вашего салона.
					</div>
				</div>
			</div>
			<div class="blog-dots">
				<ul class="slider-dots"></ul>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</section>