<section class="wrapper clients">
	<div class="container clients-container">
		<div class="title title-right title-black">
			<div class="title-number">06</div>
			<div class="title-text">Наши клиенты</div>
		</div>
		<div class="clients-arrows">
			<a class="slider-arrow" data-dir="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
			<a class="slider-arrow" data-dir="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
		</div>
		<div class="clients-image-place">
			<img src="img/imgs/6_img.png" alt="" class="clients-image">
		</div>
		<div class="clients-slider">
			<div class="clients-slide clients-slide-active">
				<div class="clients-slider-title">САЛОН КРАСОТЫ &laquo;ЛЕДИС&raquo;</div>
				<div class="clients-slider-text">
					Компания DUSO была основана 18 августа 2006 года, За 10 лет успешной работы мы добились существенных успехов и увереннно занимаем лидирующие позиции на рынке консалтинговых услуг для предприятий индустрии красоты в Украине, Приводим некоторые наши достижения:
				</div>
				<a href="" class="clients-slider-add">Подробнее</a>
				<div class="clients-description">
					<img src="img/imgs/6_client.png" alt="" class="clients-description-image">
					<div class="clients-description-text">
						<div class="clients-description-p clients-description-name">Елена Распрекрасная</div>
						<div class="clients-description-p">директор салона</div>
						<div class="clients-description-p">https://www.facebook.com/elena_rasprekrasnaya</div>
					</div>
				</div>
			</div>
			<div class="clients-slide">
				<div class="clients-slider-title">САЛОН КРАСОТЫ &laquo;ЛЕДИС&raquo; 2</div>
				<div class="clients-slider-text">
					Компания DUSO была основана 18 августа 2006 года, За 10 лет успешной работы мы добились существенных успехов и увереннно занимаем лидирующие позиции на рынке консалтинговых услуг для предприятий индустрии красоты в Украине, Приводим некоторые наши достижения:
				</div>
				<a href="" class="clients-slider-add">Подробнее</a>
				<div class="clients-description">
					<img src="img/imgs/6_client.png" alt="" class="clients-description-image">
					<div class="clients-description-text">
						<div class="clients-description-p clients-description-name">Елена Распрекрасная</div>
						<div class="clients-description-p">директор салона</div>
						<div class="clients-description-p">https://www.facebook.com/elena_rasprekrasnaya</div>
					</div>
				</div>
			</div>
			<div class="clients-slide">
				<div class="clients-slider-title">САЛОН КРАСОТЫ &laquo;ЛЕДИС&raquo; 2</div>
				<div class="clients-slider-text">
					Компания DUSO была основана 18 августа 2006 года, За 10 лет успешной работы мы добились существенных успехов и увереннно занимаем лидирующие позиции на рынке консалтинговых услуг для предприятий индустрии красоты в Украине, Приводим некоторые наши достижения:
				</div>
				<a href="" class="clients-slider-add">Подробнее</a>
				<div class="clients-description">
					<img src="img/imgs/6_client.png" alt="" class="clients-description-image">
					<div class="clients-description-text">
						<div class="clients-description-p clients-description-name">Елена Распрекрасная</div>
						<div class="clients-description-p">директор салона</div>
						<div class="clients-description-p">https://www.facebook.com/elena_rasprekrasnaya</div>
					</div>
				</div>
			</div>
			<div class="clients-slide">
				<div class="clients-slider-title">САЛОН КРАСОТЫ &laquo;ЛЕДИС&raquo; 2</div>
				<div class="clients-slider-text">
					Компания DUSO была основана 18 августа 2006 года, За 10 лет успешной работы мы добились существенных успехов и увереннно занимаем лидирующие позиции на рынке консалтинговых услуг для предприятий индустрии красоты в Украине, Приводим некоторые наши достижения:
				</div>
				<a href="" class="clients-slider-add">Подробнее</a>
				<div class="clients-description">
					<img src="img/imgs/6_client.png" alt="" class="clients-description-image">
					<div class="clients-description-text">
						<div class="clients-description-p clients-description-name">Елена Распрекрасная</div>
						<div class="clients-description-p">директор салона</div>
						<div class="clients-description-p">https://www.facebook.com/elena_rasprekrasnaya</div>
					</div>
				</div>
			</div>
			<div class="clients-slide">
				<div class="clients-slider-title">САЛОН КРАСОТЫ &laquo;ЛЕДИС&raquo; 2</div>
				<div class="clients-slider-text">
					Компания DUSO была основана 18 августа 2006 года, За 10 лет успешной работы мы добились существенных успехов и увереннно занимаем лидирующие позиции на рынке консалтинговых услуг для предприятий индустрии красоты в Украине, Приводим некоторые наши достижения:
				</div>
				<a href="" class="clients-slider-add">Подробнее</a>
				<div class="clients-description">
					<img src="img/imgs/6_client.png" alt="" class="clients-description-image">
					<div class="clients-description-text">
						<div class="clients-description-p clients-description-name">Елена Распрекрасная</div>
						<div class="clients-description-p">директор салона</div>
						<div class="clients-description-p">https://www.facebook.com/elena_rasprekrasnaya</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clients-dots">
			<ul class="slider-dots"></ul>
		</div>
	</div>
</section>