<section class="wrapper history">
	<div class="container history-container">
		<div class="title title-left">
			<div class="title-number">05</div>
			<div class="title-text">История в цифрах</div>
		</div>
		<div class="history-arrows">
			<a class="slider-arrow" data-dir="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
			<a class="slider-arrow" data-dir="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
		</div>
		<div class="history-numbers">
			<div class="history-slider">
				<div class="history-slide history-slide-active">
					<div class="history-number">190</div>
					<div class="history-text">САЛОНОВ ПОЛУЧИЛИ КВАЛИФИЦИРОВАННУЮ ПОМОЩЬ В ОРГАНИЗАЦИИ УСПЕШНОГО ПРЕДПРИЯТИЯ</div>
				</div>
				<div class="history-slide">
					<div class="history-number">290</div>
					<div class="history-text">САЛОНОВ ПОЛУЧИЛИ КВАЛИФИЦИРОВАННУЮ ПОМОЩЬ В ОРГАНИЗАЦИИ УСПЕШНОГО ПРЕДПРИЯТИЯ</div>
				</div>
				<div class="history-slide">
					<div class="history-number">390</div>
					<div class="history-text">САЛОНОВ ПОЛУЧИЛИ КВАЛИФИЦИРОВАННУЮ ПОМОЩЬ В ОРГАНИЗАЦИИ УСПЕШНОГО ПРЕДПРИЯТИЯ</div>
				</div>
			</div>
		</div>
		<div class="history-dots">
			<ul class="slider-dots"></ul>
		</div>
	</div>
</section>