<aside class="menu">
	<div class="menu-top">
		<img src="img/imgs/logo.png" alt="" class="menu-logo">
		<div class="menu-subtitle">создаем beauty-бизнес для вас</div>
		<div class="menu-nav"><i class="fa fa-bars" aria-hidden="true"></i></div>
		<div class="menu-call"><i class="fa fa-phone" aria-hidden="true"></i></div>
		<a href="tel:" class="menu-full-call">(044) 503-78-53</a>
		<nav class="menu-full-nav">
			<a href="" class="menu-nav-link">О КОМПАНИИ</a>
			<li class="menu-nav-link">КОНСАЛТИНГ 
				<i class="menu-small-arr fa fa-caret-right" aria-hidden="true"></i>
				<ul class="menu-nav-list">
					<li class="menu-nav-item">САЛОН КРАСОТЫ ПОД КЛЮЧ</li>
					<li class="menu-nav-item">ОБУЧЕНИЕ
						<i class="menu-small-arr fa fa-caret-right" aria-hidden="true"></i>
						<ul class="menu-nav-list">
							<li class="menu-nav-item">АДМИНИСТРАТИВНЫЙ И РУКОВОДЯЩИЙ ПЕРСОНАЛ
								<i class="menu-small-arr fa fa-caret-right" aria-hidden="true"></i>
								<ul class="menu-nav-list">
									<li class="menu-nav-item"><a href="" class="menu-nav-item-link">ТРЕНИНГ ПО САНИТАРНЫМ НОРМАМ</a></li>
									<li class="menu-nav-item"><a href="" class="menu-nav-item-link">ТРЕНИНГ ПО МАРКЕТИНГУ</a></li>
									<li class="menu-nav-item"><a href="" class="menu-nav-item-link">ТРЕНИНГ ПО ПОДБОРУ ПЕРСОНАЛА</a></li>
									<li class="menu-nav-item"><a href="" class="menu-nav-item-link">ТРЕНИНГ ПО PR МЕНЕДЖМЕНТУ</a></li>
								</ul>
							</li>
							<li class="menu-nav-item">МАСТЕРА</li>
						</ul>
					</li>
					<li class="menu-nav-item">ПОРТФОЛИО</li>
				</ul>
			</li>
			<a href="" class="menu-nav-link">ОБОРУДОВАНИЕ</a>
			<a href="" class="menu-nav-link">КОСМЕТИКА</a>
			<a href="" class="menu-nav-link">ИНСТРУМЕНТЫ</a>
			<a href="" class="menu-nav-link">БРЕНДЫ</a>
			<a href="" class="menu-nav-link">СОБЫТИЯ</a>
			<a href="" class="menu-nav-link">КОНТАКТЫ</a>
		</nav>
	</div>
	<div class="menu-middle">
		<i class="menu-big-arr fa fa-angle-right" aria-hidden="true"></i>
	</div>
	<div class="menu-bottom">
		<div class="menu-search"><input type="text" placeholder="Поиск" class="menu-search-input"><i class="menu-search-icon fa fa-search" aria-hidden="true"></i></div>
		<a href="" class="menu-social menu-social-fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		<a href="" class="menu-social menu-social-vk"><i class="fa fa-vk" aria-hidden="true"></i></a>
		<a href="" class="menu-social menu-social-in"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	</div>
</aside>