<section class="wrapper reasons">
	<div class="container">
		<div class="title title-left">
			<div class="title-number">03</div>
			<div class="title-text">ПОЧЕМУ СТОИТ РАБОТАТЬ С НАМИ</div>
		</div>
		<div class="reasons-table">
			<div class="reasons-cell">
				10+ЛЕТ ОПЫТА СОЗДАНИЯ САЛОНОВ КРАСОТЫ
				<div class="reasons-number">10+</div>
			</div>
			<div class="reasons-cell">
				ОБУЧЕНО БОЛЕЕ 3 000 СПЕЦИАЛИСТОВ BEAUTY ИНДУСТРИИ
				<div class="reasons-number">3000+</div>
			</div>
			<div class="reasons-cell">
				ПОСТАВЛЯЕМ ОБОРУДОВАНИЕ ВЕДУЩИХ ПРОИЗВОДИТЕЛЕЙ
				<div class="reasons-number"></div>
			</div>
			<div class="reasons-cell">
				54 ДЕВУШКИ СТАЛИ ХОЗЯЙКАМИ СВОЕГО УСПЕШНОГО САЛОНА
				<div class="reasons-number">54+</div>
			</div>
			<div class="reasons-cell">
				СОЗДАНО БОЛЕЕ 106 УНИКАЛЬНЫХ ДИЗАЙНОВ САЛОНОВ КРАСОТЫ
				<div class="reasons-number">106+</div>
			</div>
			<div class="reasons-cell">
				МЫ НИКОГДА НЕ ПОВТОРЯЕМСЯ, КАЖДЫЙ НАШ ПРОЕКТ &ndash; УНИКАЛЕН
				<div class="reasons-number"></div>
			</div>
		</div>
	</div>
</section>