<section class="wrapper team">
	<div class="container team-container">
		<div class="title title-left">
			<div class="title-number">07</div>
			<div class="title-text">НАША<br>КОМАНДА</div>
		</div>
		<div class="team-arrows">
			<a class="slider-arrow" data-dir="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
			<a class="slider-arrow" data-dir="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
		</div>
		<div class="team-slider">
			<div class="team-slide team-slide-active">
				<div class="team-name">КОНСТАНТИН ХАБЕНСКИЙ</div>
				<div class="team-subtitle">Президент компании</div>
				<div class="team-text">
					Компания DUSO была основана 18 августа 2006 года, За 10 лет успешной работы мы добились существенных успехов и увереннно занимаем лидирующие позиции на рынке консалтинговых услуг для предприятий индустрии красоты в Украине, Приводим некоторые наши достижения:
				</div>
				<img src="img/imgs/0_big_team.png" alt="" class="team-big-image">
			</div>
			<div class="team-slide">
				<div class="team-name">КОНСТАНТИН ХАБЕНСКИЙ #2</div>
				<div class="team-subtitle">Президент компании</div>
				<div class="team-text">
					Компания DUSO была основана 18 августа 2006 года, За 10 лет успешной работы мы добились существенных успехов и увереннно занимаем лидирующие позиции на рынке консалтинговых услуг для предприятий индустрии красоты в Украине, Приводим некоторые наши достижения:
				</div>
			</div>
			<div class="team-slide">
				<div class="team-name">КОНСТАНТИН ХАБЕНСКИЙ #3</div>
				<div class="team-subtitle">Президент компании</div>
				<div class="team-text">
					Компания DUSO была основана 18 августа 2006 года, За 10 лет успешной работы мы добились существенных успехов и увереннно занимаем лидирующие позиции на рынке консалтинговых услуг для предприятий индустрии красоты в Украине, Приводим некоторые наши достижения:
				</div>
			</div>
		</div>
		<div class="team-dots slider-dots">
			<a class="team-dot team-dot-active" data-index="0"><img src="img/imgs/0_team.png" alt="" class="team-dot-image"></a>
			<a class="team-dot" data-index="1"><img src="img/imgs/1_team.png" alt="" class="team-dot-image"></a>
			<a class="team-dot" data-index="2"><img src="img/imgs/2_team.png" alt="" class="team-dot-image"></a>
		</div>
	</div>
</section>