*{
	margin: 0;
	padding: 0;
	outline: 0;
}

img{
	border: 0;
}

body{
	font-family: $rob;
}

a, a:hover{
	text-decoration: none !important;
	transition: $speed;
}

input[type="submit"], input[type="submit"]:hover{
	transition: $speed;
}

.wrapper{
	width: 100%;
}

.container{
	width: 825px;
	margin: 0 auto;
}

.title{
	display: inline-block;
	width: 405px;
	margin: 130px 0 0;
}

.title-left{
	text-align: left;
}

.title-right{
	text-align: right;
}

.title-number{
	color: $red;
	margin: 0 0 5px;
}

.title-text{
	font-family: $pf;
	font-weight: $med;
	font-size: 24pt;
	letter-spacing: 5px;
	line-height: 35px;
	position: relative;
	text-transform: uppercase;
}

.title-left .title-text{
	&::after{
		content: '';
		position: absolute;
		bottom: -15px;
		left: 0;
		width: 25px;
		border: 1px solid $black;
	}
}

.title-right .title-text{
	&::after{
		content: '';
		position: absolute;
		bottom: -15px;
		right: 0;
		width: 25px;
		border: 1px solid $black;
	}
}

.title-center .title-text{
	&::after{
		content: '';
		position: absolute;
		bottom: -15px;
		left: 47%;
		width: 25px;
		border: 1px solid $black;
	}
}

.title-black .title-text{
	color: $white;
	&::after{
		content: '';
		position: absolute;
		bottom: -15px;
		right: 0;
		width: 25px;
		border: 1px solid $white;
	}
}

.slider-arrow{
	display: inline-block;
	background: $lightgrey;
	color: $white;
	padding: 5px 8px 5px 11px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	&:hover{
		background: $red;
	}
}

.slider-arrow:first-child{
	margin-right: 20px;
	padding: 5px 11px 5px 8px;
}

.slider-dots{
	list-style-type: none;
}

.slider-dot{
	display: inline-block;
	background: $darkgrey;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin: 0 7px;
	cursor: pointer;
	transition: $speed*2;
	&:hover{
		transform: scale(1.5);
		transition: $speed;
	}
}

.slider-dot-active{
	transform: scale(1.5);
	background: $red;
	transition: $speed*2;
}

.red{
	color: $red;
}

.clearfix{
	clear: both;
}