$menugrey: #413d3e;

.menu{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	width: 60px;
	height: 100vh;
	background: $black;
	text-align: center;
	z-index: 999;
	transition: $speed/2;
	&:hover{
		transition: $speed/2;
	}
}

.menu-top{
	padding: 20px 0 0;
}

.menu-logo{
	width: 50px;
}

.menu-nav{
	color: $white;
	margin: 20px 0;
	font-size: 14pt;
}

.menu-call{
	display: inline-block;
	background: $grey;
	color: $black;
	font-size: 10pt;
	padding: 2px 5px;
	border-radius: 50%;
}

.menu-middle{
	color: $red;
	font-size: 16pt;
}

.menu-bottom{
	padding: 0 0 25px;
	font-size: 12pt;
}

.menu-search{
	display: inline-block;
	color: $grey;
	border-top: 1px solid $red;
	border-bottom: 1px solid $red;
	padding: 5px;
	margin: 0 0 10px;
}

.menu-social{
	display: block;
	color: $grey;
	margin: 15px 0;
	&:hover{
		color: $white;
	}
}

.menu-full-call{
	color: $white;
	font-weight: $bold;
	margin: 25px 0 45px;
	font-size: 14pt;
	letter-spacing: 3px;
}

.menu-subtitle, .menu-full-call, .menu-search-input, .menu-full-nav{
	display: none;
}

.menu-nav-list{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	background: rgba(141,19,31,.75);
	position: absolute;
	top: 0;
	left: 220px;
	width: 220px;
	height: 100%;
	list-style-type: none;
	opacity: 0;
	box-shadow: 5px 5px 10px rgba(141,19,31,.75);
}

.menu-nav-item{
	padding: 4px 0 2px 5px;
	margin: 5px auto;
	width: 180px;
	color: #aaa;
	font-family: $robcon;
	font-size: 12pt;
	text-align: left;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	transition: $speed;
	&:hover{
		color: $white;
		border-top: 1px solid $white;
		border-bottom: 1px solid $white;
		transition: $speed;
	}
}

.menu-nav-item-link{
	color: #aaa;
}

.menu-nav-item:hover > .menu-nav-item-link{
	color: $white;
}

.menu-subtitle{
	width: 110px;
	margin: -5px auto 0;
	font-size: 12pt;
	font-weight: $reg;
	color: $menugrey;
	text-align: left;
}

.menu-full-nav{
	text-align: center;
}

.menu-nav-link{
	display: inline-block;
	padding: 4px 0 2px 5px;
	margin: 5px 0;
	width: 190px;
	color: $menugrey;
	font-family: $robcon;
	font-size: 12pt;
	text-align: left;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	cursor: pointer;
	&:hover{
		color: $white;
		border-top: 1px solid $red;
		border-bottom: 1px solid $red;
	}
}

.menu-small-arr{
	float: right;
}

.menu-search-input{
	font-family: $robcon;
	background: transparent;
	border: 0;
	color: $white;
}

.menu:hover{
	width: 220px;
	background: linear-gradient(to left, $black, #3b0004);
	
	@extend .menu-hover;
}

.menu-nav-link:hover > .menu-nav-list{
	opacity: 1;
}

.menu-nav-item:hover > .menu-nav-list{
	opacity: 1;
}

.menu-hover{
	.menu-logo{
		width: auto;
		margin: 25px 0 0;
	}

	.menu-nav, .menu-call, .menu-big-arr{
		display: none;
	}

	.menu-search, .menu-social, .menu-search-input{
		display: inline-block;
	}

	.menu-subtitle, .menu-full-call, .menu-full-nav{
		display: block;
	}

	.menu-search{
		width: 190px;
		text-align: left;
		color: #fff;
	}

	.menu-search-icon{
		float: right;
	}

	.menu-social{
		margin: 50px 0;
		padding: 5px 15px;
	}

	.menu-social:nth-child(3){
		border-left: 1px solid $grey;
		border-right: 1px solid $grey;
	}

	@media only screen and (max-height: 767px){
		.menu-full-call, .menu-social{
			margin: 5px 0;
		}
	}
}