@import '../product/jquery.mCustomScrollbar';

.portfolio{
	height: 645px;
	background: url(../img/bgs/16.png) no-repeat center top;
}

.portfolio-container{
	position: relative;
}

.portfolio-title{
	position: absolute;
	top: 0;
	left: 0;
	margin: 60px 0 0;
}

.portfolio-half{
	margin: 165px 0 0;
	width: 390px;
	height: 430px;
}

.portfolio-half-left{
	float: left;
}

.portfolio-half-right{
	float: right;
	font-size: 12pt;
	color: $darkgrey;
}

.portfolio-point{
	text-transform: uppercase;
	margin: 0 0 15px;
	font-family: $pf;
	font-weight: $med;
	letter-spacing: 1px;
}

.portfolio-point-red{
	color: $red;
}

.portfolio-description{
	margin: 30px 0 0;
	line-height: 20px;
	font-size: 11pt;
}

.portfolio-client, .portfolio-text{
	display: inline-block;
	vertical-align: top;
}

.portfolio-client{
	margin: 0 15px;
}

.portfolio-break{
	margin: 35px 0 0;
}

.portfolio-text-title{
	font-family: $pf;
	font-size: 12pt;
	font-weight: $med;
	color: $darkgrey;
	padding: 0 0 15px;
	margin: 0 0 15px;
	border-bottom: 1px solid $red;
	line-height: 20px;
}

.portfolio-text{
	width: 205px;
	font-size: 10pt;
	line-height: 16px;
	color: $superlightgrey;
}

.portfolio-half-left .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .portfolio-half-left .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .portfolio-half-left .mCSB_scrollTools .mCSB_draggerRail{
	background: $darkgrey !important;
}